
body {
  background-color: rgb(114, 114, 114);
}

// Componente en si

.card {
  width: 730px;
  height: 280px;
  display: flex;
  border-radius: 10px;
  background-color: white;
  img {
    width: 40%;
    border-radius: 10px 0 0px 10px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 280;
  padding: 30px;
  justify-content: space-evenly;
}

.card-header {
  line-height: 25px;
  font-size: 14px;
}

.author-card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  img {
    width: 40px;
    height: auto;
    border-radius: 100%;
  }
  i {
    margin-left: auto;
    background-color: rgb(241, 241, 241);
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background-image: url(./images/icon-share.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  i img {
    width: 20px;
    height: 20px;
  }
}

.author {
  margin-left: 10px;
}

#card-description {
  font-size: 13px;
  margin-bottom: 10px;
  color: hsl(214, 17%, 51%);
}

.author-title {
  font-size: 14px;
}

#author-date {
  font-size: 13px;
  font-weight: 400;
  color: hsl(212, 23%, 69%);
}

#share-btn {
  position: relative;
}

.share-container {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: hsl(217, 19%, 35%);
    width: 200px;
    height: 40px;
    display: flex;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: lighter;
    color: hsl(212, 23%, 69%);
    justify-content: space-around;
    align-items: center;
    border-radius: 0px 15px 15px 15px;
    visibility: visible;
    padding: 5px;
    letter-spacing: 3px;
    img {
      border-radius: initial;
    }
}

